body {
  font-family: 'Poppins', sans-serif;
}

a, button.btn-link {
  text-decoration: none;
}

ul {
  list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#header {
  background-color: #040d22;
}

#header .container {
  display: flex;
  padding: 16px 12px ;
  align-items: center;
  position: relative;
  z-index: 9;
}

#header .logo {
  margin-right: 10px;
}

#header .nav {
  flex-grow: 1;
}

#header .nav a {
  color: white;
  padding: 8px 16px;
}

#header .forms {
  display: flex;
}

#header .forms .form-item {
  margin: 0 1px;
}

#header .forms input {
  color: white;
  background-color: rgba(255,255,255,.15);
  border-color: rgba(255,255,255,.3);
}

#header .forms input::placeholder {
  color: rgba(255,255,255,.6);
}

#hero {
  background-color: #040d22;
  position: relative;
}

#hero img.globe {
  width: 900px;
  position: absolute;
  top: -100px;
  left: 46%;
}

#hero img.glow {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero .container {
  padding: 160px 0;
  position: relative;
}

#hero .container .title {
  color: white;
  font-size: 68px;
  font-weight: 700;
}

#hero .container .content {
  color: white;
  opacity: .5;
  font-size: 26px;
}

#hero .container .forms {
  width: 400px;
  display: grid;
}

#hero .container .forms input {
  margin-bottom: 12px;
}

#hero img.curve {
  position: absolute;
  bottom: -1px;
  left: 0;
}

#youtube {
  background-color: white;
  position: relative;
}

#youtube .container {
  padding: 90px 0;
  position: relative;
}

#youtube .container img.astronaut {
  width: 480px;
  position: absolute;
  top: -420px;
  right: 0;
}

#features {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
#features .container {
  padding: 30px 0;
}

#features .card {
  color: #627597;
  border: none;
}

#features .card img {
  padding: 30px 60px;
}

#features .card .card-body {
  text-align: center;
}

#location {
  padding: 100px 0;
  color: #627597;
}

#location .title {
  font-weight: 700;
  font-size: 44px;
}

#location .content {
  font-size: 24px;
}

#location #map {
  height: 500px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

#footer {
  background-color: #040D22;
  position: relative;
  margin-top: 20%;
}

#footer img.curve {
  transform: scale(1,-1);
  position: absolute;
  top: -1px;
  left: 0;
}

#footer img.illustration {
  position: relative;
  width: 100%;
  margin-top: -33%;
  margin-bottom: 50px;
}

#footer .title {
  font-weight: 700;
  color: rgba(255,255,255,.4);
  margin-bottom: 20px;
}

#footer .content li {
  margin-bottom: 10px;
}
#footer .content li a {
  color: rgba(255,255,255,.4);
  transition: .3s;
}
#footer .content li a:hover {
  color: white;
}

#footer .site-links {
  background-color: rgba(255,255,255,.05);
  padding: 20px;
}

#footer .site-links .content {
  display: flex;
  justify-content: center;
}

#footer .site-links .content li {
  color: rgba(255,255,255,.4);
  margin: 0 10px;
}
  /* 
#footer .site-links {
  margin: 0;
  margin-top: 60px;
  flex-wrap: wrap;
}
#footer .site-links li {
  margin: 0;
  margin-right: 20px;
}
#footer .site-links li:last-child {
  margin-right: 0;
} */
